nav {
    background-color: transparent;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navbar-inner {
    background-color: #3498db;
    opacity: 0.8;
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-right: 10px;
    width: 50%;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .logout-link {
    color: #000;
    margin-left: 20px;
    text-decoration: none;
  }